:root{
    --black: black;
    --yello: yellow;
    --yello-hover:rgb(116, 116, 17);
    --white: white;
    --grey: rgb(204, 200, 200);
}

a{
    color: var(--yello);
}
a:hover{
    color: var(--grey);
}

body{
    overflow-x: hidden;
}

nav, footer{
    background-color: var(--black);
    color: var(--yello);
}
ul{
    list-style-type: none;
}
.navbar-dark {
    background-color: #343a4000;
    /* border-color: #4b545c; */
    --bs-navbar-toggler-border-color: none !important;
}
/*AUTHENTICATION*/
.login-box, .card{
    background: var(--black) !important;
    color: var(--yello);
}
.form-control:focus{
    background: none;

}
.btn-danger{
    outline: none;
    border: none;
    color: var(--black);
}
.btn-danger:hover{
    color: var(--black);
    background-color: var(--yello-hover);
    border-color: var(--yello-hover);
}
.bg-yellow, .btn-danger{
    background-color: var(--yello) !important;
}
.btn-outline-danger {
    color: var(--yello);
    border-color: var(--yello);
}
.btn-outline-danger:hover{
    color: var(--black);
    background-color: var(--yello);
    border-color: var(--yello);
}
.btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show>.btn-outline-danger.dropdown-toggle, .btn-danger:active {
    color: var(--yello);
    background-color: var(--yello);
    border-color: var(--yello);
}