{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load hitcount_tags %}
{% block head_title %}Blog{% endblock %}
{% block content %}
<style>
    body{
        background: var(--black);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--black);
        color: var(--yello);
    }
</style>
<section class="my-5">
    <div class="container">
        <h5 class="fw-normal text-center">
            <p>Need Tips and advice?</p>
            <p>Brwose through our blogs on health, fitness and diet</p>
        </h5>
    </div>
    <div class="container">
        <div class="row justify-content-start align-items-center">
            {% for post in all_post %}
            <div class="col-sm-6">
                <div class="card">
                    
                    <div class="card-img">
                        <img class="bd-placeholder-img card-img-top" src="{{post.image_url}}" alt="{{post.title}}">
                    </div>
                    
                    <div class="card-body">
                        <div class="card-content ">
                            <div class="d-sm-flex justify-content-start align-items-center" style="margin-left: 0; padding-left: 0;">
                                <div class="blog-date row justify-content-center text-center align-items-center fw-bold p-2">
                                    <strong class="col-12 p-0">{{ post.date_published.date}}</strong>
                                </div>
                                <div class="d-grid justify-content-start mx-2" style="width: 100%;">

                                    <div class="h6">
                                        {{post.title}}
                                    </div>
                                    <ul class="mx-0 d-flex justify-content-between align-items-center small fs-6" style="width: 100%; padding-left: 0; margin-left: 0;">
                                        <li><i class="fa fa-user"></i> {{post.author}}</li>
                                        <li><i class="fa fa-comment"></i> Comments</li>
                                        <li><i class="fa fa-eye"></i> {% get_hit_count for post %} Views</li>
                                    </ul>
                                </div>
                            </div>
                            <p class="fw-normal">
                                {{post.body|truncatewords:20 |safe}}
                            </p>
                            <a href="{{post.get_absolute_url}}" class="btn btn-danger col-sm-6 col-md-4">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-sm-6">
                <div class="card">
                    
                    <div class="card-img">
                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/2.jpeg' %}" alt="">
                    </div>
                    
                    <div class="card-body">
                        <div class="card-content ">
                            <div class="d-sm-flex justify-content-start align-items-center" style="margin-left: 0; padding-left: 0;">
                                <div class="blog-date row justify-content-center text-center align-items-center fw-bold p-2">
                                    <strong class="col-12 p-0">1</strong>
                                    <strong class="col-12 p-0">JAN</strong>
                                    <strong class="col-12 p-0">2024</strong>
                                </div>
                                <div class="d-grid justify-content-start mx-2" style="width: 100%;">

                                    <div class="h6">
                                        Crush Fitness Goals: Quick Tips
                                    </div>
                                    <ul class="mx-0 d-flex justify-content-between align-items-center small fs-6" style="width: 100%; padding-left: 0; margin-left: 0;">
                                        <li><i class="fa fa-user"></i> The King</li>
                                        <li><i class="fa fa-comment"></i> Comments</li>
                                        <li><i class="fa fa-eye"></i> 3 Views</li>
                                    </ul>
                                </div>
                            </div>
                            <p class="fw-normal">
                                Fitness remains up to date with the latest fitness trends and
                                innovations, providing users with fresh and relevant content to 
                                enhance their fitness knowledge. 
                            </p>
                            <a href="#" class="btn btn-danger col-sm-6 col-md-4">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    
                    <div class="card-img">
                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/2.jpeg' %}" alt="">
                    </div>
                    
                    <div class="card-body">
                        <div class="card-content ">
                            <div class="d-sm-flex justify-content-start align-items-center" style="margin-left: 0; padding-left: 0;">
                                <div class="blog-date row justify-content-center text-center align-items-center fw-bold p-2">
                                    <strong class="col-12 p-0">1</strong>
                                    <strong class="col-12 p-0">JAN</strong>
                                    <strong class="col-12 p-0">2024</strong>
                                </div>
                                <div class="d-grid justify-content-start mx-2" style="width: 100%;">

                                    <div class="h6">
                                        Crush Fitness Goals: Quick Tips
                                    </div>
                                    <ul class="mx-0 d-flex justify-content-between align-items-center small fs-6" style="width: 100%; padding-left: 0; margin-left: 0;">
                                        <li><i class="fa fa-user"></i> The King</li>
                                        <li><i class="fa fa-comment"></i> Comments</li>
                                        <li><i class="fa fa-eye"></i> 3 Views</li>
                                    </ul>
                                </div>
                            </div>
                            <p class="fw-normal">
                                Fitness remains up to date with the latest fitness trends and
                                innovations, providing users with fresh and relevant content to 
                                enhance their fitness knowledge. 
                            </p>
                            <a href="#" class="btn btn-danger col-sm-6 col-md-4">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    
                    <div class="card-img">
                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/2.jpeg' %}" alt="">
                    </div>
                    
                    <div class="card-body">
                        <div class="card-content ">
                            <div class="d-sm-flex justify-content-start align-items-center" style="margin-left: 0; padding-left: 0;">
                                <div class="blog-date row justify-content-center text-center align-items-center fw-bold p-2">
                                    <strong class="col-12 p-0">1</strong>
                                    <strong class="col-12 p-0">JAN</strong>
                                    <strong class="col-12 p-0">2024</strong>
                                </div>
                                <div class="d-grid justify-content-start mx-2" style="width: 100%;">

                                    <div class="h6">
                                        Crush Fitness Goals: Quick Tips
                                    </div>
                                    <ul class="mx-0 d-flex justify-content-between align-items-center small fs-6" style="width: 100%; padding-left: 0; margin-left: 0;">
                                        <li><i class="fa fa-user"></i> The King</li>
                                        <li><i class="fa fa-comment"></i> Comments</li>
                                        <li><i class="fa fa-eye"></i> 3 Views</li>
                                    </ul>
                                </div>
                            </div>
                            <p class="fw-normal">
                                Fitness remains up to date with the latest fitness trends and
                                innovations, providing users with fresh and relevant content to 
                                enhance their fitness knowledge. 
                            </p>
                            <a href="#" class="btn btn-danger col-sm-6 col-md-4">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    
                    <div class="card-img">
                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/2.jpeg' %}" alt="">
                    </div>
                    
                    <div class="card-body">
                        <div class="card-content ">
                            <div class="d-sm-flex justify-content-start align-items-center" style="margin-left: 0; padding-left: 0;">
                                <div class="blog-date row justify-content-center text-center align-items-center fw-bold p-2">
                                    <strong class="col-12 p-0">1</strong>
                                    <strong class="col-12 p-0">JAN</strong>
                                    <strong class="col-12 p-0">2024</strong>
                                </div>
                                <div class="d-grid justify-content-start mx-2" style="width: 100%;">

                                    <div class="h6">
                                        Crush Fitness Goals: Quick Tips
                                    </div>
                                    <ul class="mx-0 d-flex justify-content-between align-items-center small fs-6" style="width: 100%; padding-left: 0; margin-left: 0;">
                                        <li><i class="fa fa-user"></i> The King</li>
                                        <li><i class="fa fa-comment"></i> Comments</li>
                                        <li><i class="fa fa-eye"></i> 3 Views</li>
                                    </ul>
                                </div>
                            </div>
                            <p class="fw-normal">
                                Fitness remains up to date with the latest fitness trends and
                                innovations, providing users with fresh and relevant content to 
                                enhance their fitness knowledge. 
                            </p>
                            <a href="#" class="btn btn-danger col-sm-6 col-md-4">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}