{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load hitcount_tags %}
{% block head_title %}Home{% endblock %}
{% block content %}
<style>
    .section1{
        background: url('{% static "img/5.jpeg"%}');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--black);
    }
</style>


<section class="mb-0 pt-5 container-fluid" style="background-color: var(--black); color: var(--yello);">
    <div class="container">
        <h5 class="fw-normal text-center">
            <p>Need Tips and advice?</p>
            <p>Brwose through our blogs on health, fitness and diet</p>
        </h5>
    </div>
    <div class="container">
        <div class="row justify-content-start align-items-center">
            {% for post in all_post %}
            <div class="col-sm-6">
                <div class="card">
                    
                    <div class="card-img">
                        <img class="bd-placeholder-img card-img-top" src="{{post.image_url}}" alt="{{post.title}}">
                    </div>
                    
                    <div class="card-body">
                        <div class="card-content ">
                            <div class="d-sm-flex justify-content-start align-items-center" style="margin-left: 0; padding-left: 0;">
                                <div class="blog-date row justify-content-center text-center align-items-center fw-bold p-2">
                                    <strong class="col-12 p-0">{{ post.date_published.date}}</strong>
                                </div>
                                <div class="d-grid justify-content-start mx-2" style="width: 100%;">

                                    <div class="h6">
                                        {{post.title}}
                                    </div>
                                    <ul class="mx-0 d-flex justify-content-between align-items-center small fs-6" style="width: 100%; padding-left: 0; margin-left: 0;">
                                        <li><i class="fa fa-user"></i> {{post.author}}</li>
                                        <li><i class="fa fa-comment"></i> Comments</li>
                                        <li><i class="fa fa-eye"></i> {% get_hit_count for post %} Views</li>
                                    </ul>
                                </div>
                            </div>
                            <p class="fw-normal">
                                {{post.body|truncatewords:20 |safe}}
                            </p>
                            <a href="{{post.get_absolute_url}}" class="btn btn-danger col-sm-6 col-md-4">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="mb-0 pt-5 container-fluid" style="background-color: var(--black); color: var(--yello);">
    <div class="section container">
        <div class="p-4 p-md-5 mb mb-4rounded"  style="background-color: var(--black); color: var(--yello);" id="sneak-bg">
            <div class="col-md-6 px-0">
              <h1 class="display-4 fst-italic">Fitness & Nutritional Recommendation.</h1>
              <p class="lead my-3">
                Trend Fitness is dedicated to providing professional fitness advice which will include a range from fitness plans to diet plans catered to every individual needs.
              </p>
              <p class="lead mb-0"><a href="{% url "fitness:recommendation" %}" class="text-white fw-bold">continue...</a></p>
            </div>
        </div>
</section>

<section class="mb-0 pt-5 container-fluid" style="background-color: var(--black); color: var(--yello);">
    <div class="container">
        <h5 class="fw-light fs-2 text-center mt-4">
            <div class="fw-bold">Product</div>
            <p>Brwose through our products on health, fitness and diet</p>
        </h5>
    </div>
    <div class="container">
        <div class="row justify-content-start align-items-center">
            {% for post in all_product %}
            <div class="col-sm-6">
                <div class="card">
                    
                    <div class="card-img">
                        <img class="bd-placeholder-img card-img-top" src="{{post.image_url}}" alt="{{post.title}}">
                    </div>
                    
                    <div class="card-body">
                        <div class="card-content ">
                            <div class="d-sm-flex justify-content-start align-items-center" style="margin-left: 0; padding-left: 0;">
                                <div class="blog-date row justify-content-center text-center align-items-center fw-bold p-2">
                                    <strong class="col-12 p-0">{{ post.date_published.date}}</strong>
                                </div>
                                <div class="d-grid justify-content-start mx-2" style="width: 100%;">

                                    <div class="h6">
                                        {{post.name}}
                                    </div>
                                    <ul class="mx-0 d-flex justify-content-between align-items-center small fs-6" style="width: 100%; padding-left: 0; margin-left: 0;">
                                        <li><i class="fa fa-user"></i> {{post.author}}</li>
                                        <li><i class="fa fa-comment"></i> Comments</li>
                                        <li><i class="fa fa-eye"></i> {% get_hit_count for post %} Views</li>
                                    </ul>
                                </div>
                            </div>
                            <p class="fw-normal">
                                {{post.description|truncatewords:20 |safe}}
                            </p>
                            <a href="{{post.get_absolute_url}}" class="btn btn-danger col-sm-6 col-md-4">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="mb-0 pt-5 container-fluid" style="background-color: var(--black); color: var(--yello);">
    <div class="section container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <div class="row featurette align-items-center">

               
            <div class="col-12 scroll-x-down-el">
                <div class="fs-1 fw-bold text-center">Seamless User Experience</div>                        
                <p class="fs-3 text-center">
                    At TrendFitness, we prioritize a seamless user experience to ensure our users can effortlessly navigate and utilize our platform. Our intuitive interface is designed to be user-friendly, with clear navigation and accessible features that cater to both beginners and advanced users. We understand that your time is valuable, so we've streamlined our processes to minimize hassle and maximize efficiency. Whether you're logging your workouts, tracking your progress, or seeking personalized fitness recommendations, TrendFitness provides a smooth and enjoyable experience every step of the way.
                </p>
            </div>

            <div class="col-12 scroll-x-top-el">
                <div class="fs-1 fw-bold text-center">Fitness Service</div>                        
                <p class="fs-3 text-center">
                    TrendFitness offers comprehensive fitness services tailored to meet the diverse needs of our users. Our platform integrates advanced AI-driven recommendation systems that suggest personalized fitness routines, nutritional plans, and wellness tips. We cover a wide range of fitness goals, including weight loss, muscle gain, endurance, flexibility, and overall health. With access to a variety of fitness environments and resources, including home workout setups, gyms, outdoor activities, and specialized fitness classes, TrendFitness supports your journey to a healthier, fitter lifestyle.
                </p>
            </div> 
            
            <div class="col-12 scroll-x-top-el">
                <div class="fs-1 fw-bold text-center">Commitment to Quality and Expert Support</div>                        
                <p class="fs-3 text-center">
                    We continuously enhance our platform based on user feedback and the latest fitness trends to ensure that we provide the highest quality service. Our team of experts is always ready to assist you, ensuring that you have all the resources and guidance you need to achieve your fitness goals. With TrendFitness, you can be confident that you are receiving the best service in the industry.
                </p>
            </div> 
        </div>
    </div>

    <div>
        <div class="section navbar container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3">
            <div class="row featurette mt-5 align-items-center mb-3">
                <div class="col-md-6 mb-3 scroll-x-down-el scroll-y-top-el">
                    <div class="fs-1 fw-bold text-start">
                        <strong>We Give the best Service</strong>
                    </div>
                    <p class="fs-3 text-start">
                        At TrendFitness, we are committed to delivering the best service to our users. Our dedication to excellence is reflected in our state-of-the-art technology, personalized recommendations, and comprehensive support system.
                    </p>
                </div>

                <div class="col mt-lg-0 mt-sm- fw-bold fs-55 order-lg-last">
                    <div
                        class="h-100 shadow">
                        <!-- style="background-image: url('{% static 'img/dashboard_desktop.png' %}'); background-size:cover; width:100%; height:100%;" -->
                        <div class="">
                            <img style="width: 100%;" src="{% static 'img/1.jpeg' %}" alt="TrendFitness">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}